body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(24, 24, 24);
}
#loadingOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(24, 24, 24);
}
#loadingAnim {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10%;
    height: auto;
}
#loadingAnimBee {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 10%;
    height: auto;
}