@font-face {
    font-family: aileron-light;
    src: url("./assets/fonts/Aileron-Light.otf");
}
@font-face {
    font-family: aileron-thin;
    src: url("./assets/fonts/Aileron-Thin.otf");
}
@font-face {
    font-family: aileron-normal;
    src: url("./assets/fonts/Aileron-Regular.otf");
}

body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(24, 24, 24);
    font-size: large;
    overflow: hidden; /*temp*/
}
#loadingOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(24, 24, 24);
}
#loadingAnim {
    margin-top: 15%;
    margin-left: 47%;
    width: 3%;
    height: auto;
}
#loadingAnimBee {
    position: absolute;
    margin-top: 30%;
    margin-left: 35%;
    width: 10%;
    height: auto;
}
#loadingSlashText {
    position: absolute;
    top: 50%;
    left: 47%;
    width: 3%;
    font-family: aileron-light, sans-serif;
    color: white;
}